$header-height: 5vh;
$gap-icon: 22px;
.HeaderAppBar {
  width: 100%;
  height: $header-height;

  display: flex;
  justify-content: center;

  .headerAppBar-position {
    width: 935px;
    display: flex;
    justify-content: space-around;

    .HeaderAppBar-SearchBar {
      .searchBar {
        min-width: 215px;
        max-width: 230px;
        min-height: 28px;
        font-size: 16px;
      }
      .searchBar::placeholder {
        text-align: center;
      }
      .searchBar:focus::placeholder {
        color: transparent;
      }
    }
    .HeaderAppBar-Menu {
      display: flex;
      gap: $gap-icon;
    }
  }
}
